altair
appnope
argon2-cffi
astor
async-generator
attrs
backcall
base58
beautifulsoup4
bleach
blinker
boto3
botocore
cachetools
certifi
cffi
chardet
click
decorator
defusedxml
entrypoints
enum-compat
gitdb
GitPython
googletrans
gTTS
gTTS-token
h11
h2
hpack
hstspreload
httpcore
httpx
hyperframe
idna
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jmespath
jsonschema
jupyter-client
jupyter-core
jupyterlab-pygments
MarkupSafe
mistune
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy
packaging
pandas
pandocfilters
parso
pathtools
pexpect
pickleshare
Pillow
pip
playsound
prometheus-client
prompt-toolkit
protobuf
ptyprocess
pyarrow
pycparser
pydeck
Pygments
pyparsing
pyrsistent
python-dateutil
pytz
pyzmq
requests
rfc3986
s3transfer
Send2Trash
setuptools
six
smmap
sniffio
soupsieve
SpeechRecognition
streamlit
terminado
testpath
toml
toolz
tornado
traitlets
tzlocal
urllib3
validators
watchdog
wcwidth
webencodings
widgetsnbextension
zipp
